<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="a1ab9b8f-bf9a-402e-8cd5-2865d1ac94e4" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://c2-int.eastus.cloudapp.azure.com 8" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="a1ab9b8f-bf9a-402e-8cd5-2865d1ac94e4fileName">http%3A%2F%2Fc2-int.eastus.cloudapp.azure.com-8</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://c2-int.eastus.cloudapp.azure.com</con:endpoint></con:endpoints></con:interface>