<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="85449f8b-2693-4b39-953d-ad593cbdb09e" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://c2-int.eastus.cloudapp.azure.com 3" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="85449f8b-2693-4b39-953d-ad593cbdb09efileName">http%3A%2F%2Fc2-int.eastus.cloudapp.azure.com-3</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://c2-int.eastus.cloudapp.azure.com</con:endpoint></con:endpoints></con:interface>