<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="ef5d02db-1ca4-49f6-bd64-ff29f3e95c4c" wadlVersion="http://wadl.dev.java.net/2009/02" name="http://c2-int.eastus.cloudapp.azure.com 5" type="rest" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="ef5d02db-1ca4-49f6-bd64-ff29f3e95c4cfileName">http%3A%2F%2Fc2-int.eastus.cloudapp.azure.com-5</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>http://c2-int.eastus.cloudapp.azure.com</con:endpoint></con:endpoints></con:interface>